pandas==1.4.2
openpyxl==3.1.2
#sklearn==1.0.2
torch==1.13.1
tabula==1.0.5
s3fs==2021.11.0
shapely==1.8.5
geopandas==0.12.2
pyarrow==11.0.0
pysheds==0.3.3
fastfuels==1.0.4
rioxarray==0.13.4
geojsoncontour==0.4.0
pygeos==0.13
plotly==5.14.1
xarray==2022.12.0
dask==2023.4.1
dask[distributed]==2023.4.1
#dask-labextension
#nodejs==16.19.0
folium==0.14.0
shap==0.41.0
# might need slightly older version
dash==2.9.3
#dash==2.9.1
jupyter-dash==0.4.2